annotated-types==0.7.0
anyio==4.4.0
asgiref==3.7.2
boto3==1.34.0
botocore==1.34.0
certifi==2024.6.2
charset-normalizer==3.3.2
distro==1.9.0
dj-database-url==2.1.0
dj-rest-auth==6.0.0
Django==5.0
django-allauth==64.0.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-extensions==3.2.3
django-heroku==0.3.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
elastic-transport==8.13.1
elasticsearch==8.14.0
Faker==25.9.2
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
langchain-core==0.2.22
langchain-openai==0.1.17
langsmith==0.1.93
load-dotenv==0.1.0
openai==1.36.1
orjson==3.10.6
packaging==23.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
s3transfer==0.9.0
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.4
tenacity==8.5.0
tiktoken==0.7.0
tqdm==4.66.4
typing_extensions==4.9.0
urllib3==2.0.7
whitenoise==6.6.0
